<footer class="site-footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Namaste Yatra: Your Gateway to Unforgettable Adventures. Powered by a blend of cutting-edge development languages and tools, Namaste Yatra invites you to unlock extraordinary travel experiences. Explore our curated listings and embark on unforgettable journeys where you'll encounter genuine hospitality and immerse yourself in the richness of local culture. Embrace travel and explore new places with Namaste Yatra, built with EJS, Bootstrap, Node.js, and Mapbox, ensuring a seamless and immersive experience.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Support</h6>
        <ul class="footer-links">
          <li><a href="#">Help Centre</a></li>
          <li><a href="#">AirCover</a></li>
          <li><a href="#">Disability support</a></li>
          <li><a href="#">Cancellation options</a></li>
          <li><a href="#">Anti-discrimination</a></li>
          <li><a href="#">Report neighbourhood concerns</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Hosting</h6>
        <ul class="footer-links">
          <li><a href="#">Host your home</a></li>
          <li><a href="#">AirCover for Hosts</a></li>
          <li><a href="#">Hosting resources</a></li>
          <li><a href="#">Community forum</a></li>
          <li><a href="#">Hosting responsibly</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a href="#">Shashi</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>