<footer class="site-footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Airbnb began in 2008 when two designers who had space to share hosted three travellers looking for a place to stay. Now, millions of Hosts and guests have created free Airbnb accounts to enjoy each other's unique view of the world.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
            <li><a href="#">Anti-discrimination</a></li>
            <li><a href="#">Report neighbourhood concerns</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Hosting</h6>
          <ul class="footer-links">
            <li><a href="#">Airbnb your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Hosting resources</a></li>
            <li><a href="#">Community forum</a></li>
            <li><a href="#">Hosting responsibly</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Shashi</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>