<style>
  .search-btn {
    background-color:#683193;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover {
    background-color: #ac47fa;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><img  src="https://res.cloudinary.com/danoxgcb8/image/upload/v1698837544/wanderlust_DEV/namaste_1_scnrpm.png" width="41px" style="margin-right:12px; margin-bottom: 10px;" alt="logo"><b style="display: inline-block; color: #683193; font-size: 1.5rem; line-height: 1.2rem; margin-top: 20px; font-family:Arial, Helvetica, sans-serif;">&nbsp;Namaste Yatra</b></a>
        <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNavAltMarkup" 
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div> -->
        <div class="navbar-nav ms-auto">
          <form class="d-flex" action="/listings/search" method="GET">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" name="title" />
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link " href="/listings/new">Add New Place</a>
          <% if(!currUser) { %>
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            <% } %>
            <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
        </div>
      </div>
    </div>
</nav>